<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photoalbum</title>
</head>
<body>
<header>
    Dzisiaj jest: {{ date|date:'d.m.Y'}} <br>

    {% if request.user.is_authenticated %}
        Witaj {{ request.user.username }} <a href="{% url 'logout' %}">Wyloguj</a>
        <a href="{% url 'add_photo' %}">Dodaj zdjęcie</a>
        <a href="{% url 'profile' %}">Mój profil</a>
    {% else %}
        <a href="{% url 'register' %}">Zarejestruj się</a>
    {% endif %}

    <h1>Photo Album</h1>

</header>

{% block content %}

{% endblock %}

<footer>
</footer>
</body>
</html>
