{% extends 'photoalbum/base.html' %}

{% block content %}
    {% if request.user.is_authenticated  %}
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-md-4">
                        {% load thumbnail %}
                            <a href="{% url 'photo_detail' pk=photo.id %}"><img src="{{photo.path|thumbnail_url:'thumb' }}" class="img-fluid"></a><br>
                        <button class="like">Lubię To!</button>

                        <p>Liczba polubień: <span class="counter" data-text=" Polubiłeś to zdjęcie">0</span></p><br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <script src="../../static/js/index.js"></script>
{% endblock %}


