{% extends 'photoalbum/base.html' %}

{% block content %}
  <h3>{{ photo.title }}</h3>
    <p><img src="{{ photo.path.url }}"></p>
{#        <img src="{{ MEDIA_URL }}/{{ photo.path }}">#}
    <p><b>Autor:</b> {{ photo.user }}</p>
    <h3>Komentarze:</h3>
    <ol>
    {% for comment in comments %}
        <li>
            <h4>{{ comment.user }}:</h4>
            <h5>{{ comment.date|date:"d.m.Y H:i"}}</h5>
            {{ comment.content }}
        </li>
        <br>
    {% endfor %}
    </ol>
    <form action="#" method="post">
    <fieldset>
        <legend>Podziel się swoją opinią</legend>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="wyślij">
    </fieldset>
</form>
    <br>

    <a href="{% url 'index' %}">Powrót</a>

{% endblock %}