{% extends 'photoalbum/base.html' %}

{% block content %}
    <h4>Profil {{ request.user }}</h4>
    <a href="{% url 'reset_password' id=request.user.id %}">Zmień hasło</a>
    <h3>Moje zdjęcia:</h3>
    {% for photo in photos %}
        <h2>{{ photo.title }}</h2>
        <p><img src="{{ photo.path.url }}"></p>
        <a href="{% url 'delete_photo' pk=photo.id %}">Usuń</a>
        <a href="{% url 'update_photo' pk=photo.id %}">Edytuj</a>
    {% endfor %}

    <a href="{% url 'index' %}">Powrót</a>
{% endblock %}